DOMAIN=example.com
DBUSERNAME=timeoutapp
DBPASSWORD=<random-password>
MYSQL_ROOT_PASSWORD=<random-password>
DBURL=jdbc:mysql://mysql:3306/timeoutdb
DEFAULT_LECTURER_USERNAME=<admin-name>
DEFAULT_LECTURER_PASSWORD=<admin-password>
